/* Contenido Home */

.home-container {
    min-height: 100%;
    height: auto;
    background: $color-4;
    border-bottom: solid 5px $line;
    padding: 0 .5rem;
    //Data Events
    & .data-events {
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: .7rem 0 0 0;
        position: relative;
        & .data-event-text {
            font-size: 12px;
            padding-bottom: .7rem;
            width: 33.3%;
            position: relative;
            & .number {
                font-size: 14px;
                margin-bottom: 0;
                line-height: normal;
                font-weight: 700;
            }
        }
        & .data-event-text:first-child::after {
            position: absolute;
            content: "";
            height: 3px;
            width: 70%;
            bottom: 0;
            left: 50%;
            background: $color-1;
            transform: translateX(-50%);
        }
    }
    //Modulos
    .cont-module {
        padding: 1rem;
        & .card-action {
            & .link-card-action {
                font-size: .9rem;
                /* color: $color-5!important; */
                font-weight: 700;
            }
            & i {
                position: absolute;
                right: 7px;
                top: 13px;
            }
        }
    }
}

i.icon-modules {
    padding: 0;
    margin-right: 0!important;
}

.home-container:last-child {
    margin-bottom: 4rem;
}


/* Menu Top */

.container-menu-top {
    & .title-module {
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        font-size: 1.5rem;
        @media screen and (max-width: 321px) {
            font-size: 1.3rem;
        }
    }
    & .brand-logo {
        margin-left: .5rem;
        & img {
            top: 7px;
            position: relative;
            width: 115px;
        }
    }
    & .icon-search {
        margin-right: 5px!important;
        font-size: 2rem;
        @media screen and (max-width: 321px) {
            font-size: 1.5rem;
        }
    }
}


/* Menu Bottom */

.fixed-action-btn {
    bottom: 70px;
    right: 13px;
}

.container-menu-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -10px 20px -5px rgba(0, 0, 0, .1);
    z-index: 1010;
    & .nav-bottom-cont {
        align-items: center;
        justify-content: space-between;
        & a {
            margin: 0;
            text-align: center;
            width: 100%;
            display: block;
            & i {
                text-align: center;
                height: 55px;
                line-height: 55px;
                padding: 0;
                margin: 0!important;
                font-size: 2rem;
                @media screen and (max-width: 321px) {
                    font-size: 1.5rem;
                }
            }
            & .user-btn {
                position: relative;
                top: 3px;
            }
        }
    }
}