html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    min-height: 100vh;
    color: $grey-dark-corp;
}

//Gradient
.mvp-gradient {
    background-image: linear-gradient(180deg, #d60b52 0%, #662483 100%);
}

//Colores
.color-1 {
    color: $color-1!important;
}

.color-2 {
    color: $color-2!important;
}

.color-3 {
    color: $color-3!important;
}

.color-4 {
    color: $color-4!important;
}

.color-5 {
    color: $color-5!important;
}

.color-6 {
    color: $grey-dark-corp!important;
}

//Cargador
#preloader {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-image: linear-gradient(180deg, #d60b52 0%, #662483 100%);
    top: 0;
    & .cargador {
        width: 60px;
        animation: cargador 1s ease-in-out infinite alternate;
    }
    & .text-cargando {
        animation: text-cargador 1s ease-in-out infinite alternate;
    }
    @keyframes cargador {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(.95);
        }
    }
}

.row {
    margin-bottom: 0!important;
}

.bolder {
    font-weight: 700!important;
}

.semi-bolder {
    font-weight: 500!important;
}

.light {
    font-weight: 400!important;
}

//Section Title + Check estado
.section {
    padding-top: 0!important;
    h5 {
        font-size: 1.3rem;
        margin-bottom: .5rem;
        color: $color-6;
        @media screen and (max-width: 321px) {
            font-size: 1.1rem;
        }
    }
    p {
        font-size: .8rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        i {
            font-size: 1rem;
            margin-right: .5rem;
            padding: 1px;
            border-radius: 50%;
        }
        i.finalizado {
            border: solid 1px $color-7;
        }
        i.confirmar {
            border: solid 1px orange;
        }
        i.cancelado {
            border: solid 1px red;
        }
    }
}

//Form
input {
    border-bottom: 1px solid rgba(253, 216, 53, 0.7)!important;
}


/* label color */

.input-field {
    padding: 0!important;
}

.input-field label {
    color: #fff!important;
    left: 0!important;
}


/* icon prefix focus color */

.input-field .prefix {
    margin-top: .5rem;
    color: white;
}

.input-field .prefix.active {
    color: $color-5;
}


/* label focus color */

.input-field input[type=text]:focus+label,
.input-field input[type=email]:focus+label {
    color: #fff!important;
}


/* label underline focus color */

.input-field input[type=text]:focus,
.input-field input[type=email]:focus {
    border-bottom: 1px solid $color-5!important;
    box-shadow: 0 1px 0 0 $color-5!important;
}


/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}


/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}


/* Radio */

[type="radio"]+label:before,
[type="radio"]+label:after {
    width: 18px;
    height: 18px;
}

[type="radio"]:not(:checked)+label:before,
[type="radio"]:not(:checked)+label:after {
    border: 2px solid $color-4;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:after {
    background-color: $color-5;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:before,
[type="radio"].with-gap:checked+label:after {
    border: 2px solid $color-5;
}

//Switch
.switch {
    margin-top: 1.5rem;
}

.switch label .lever {
    width: 44px;
    height: 20px;
}

.switch label .lever:before,
.switch label .lever:after {
    width: 26px;
    height: 26px;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: rgba(253, 216, 53, 0.5);
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #fdd835;
}